<div class="container-fluid">
    <form class="mTop" id="nickForm" ng-submit="addNickName()" ng-hide="username">
        <div class="row">
            <div class="col-sm-2">
                <label for="nickName" class="control-label">Nick Name</label>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nickName" ng-model="nickName" placeholder="Enter nick name">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-default">Add Nick Name</button>
            </div>
            <div class="col-sm-4" ng-show="nickErr">
                <p class="text-danger">Nick name already taken!</p>
            </div>
        </div>
    </form>

    <div class="row" ng-show="username">
        <div class="col-md-8" id="chat">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right" dropdown>
                        <a href="" class="label label-info dropdown-toggle username" dropdown-toggle>
                            <span class="username">{{ username }}</span>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                        <ul class="dropdown-menu userStatus">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a>
                            </li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a>
                            </li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a>
                            </li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" scroll-bottom="chats">
                    <ul class="chat">
                        <li class="left clearfix" ng-repeat="chat in chats"><span class="chat-img pull-left">
                            <img ng-src="{{ chat.avatar }}" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{ chat.name }}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    {{ chat.msg }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <form name="chatForm" ng-submit="sendMessage()" novalidate>
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." name="chatMsg" ng-model="chatMsg" />
                            <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" type="submit">
                                Send</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    ONLINE USERS
                </div>
                <div class="panel-body onlineUsers">
                    <ul class="media-list">

                        <li class="media" ng-repeat="user in nicknames">
                            <div class="media-body">

                                <div class="media">
                                    <a class="pull-left" href="" ng-click="privateChat(user)" ng-class="{'disableClick': user.nickName === username }">
                                        <img class="media-object img-circle" style="max-height:40px;" ng-src="{{ user.avatar }}" />
                                    </a>
                                    <div class="media-body">
                                        <h5><a href="" ng-click="privateChat(user)" ng-class="{'disableClick': user.nickName === username }">{{ user.nickName }}</a></h5>

                                        <small class="text-muted">Active From {{ user.lastLogin| date:"H"}} hours </small>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

<div title="Demo Bot" class="chatbox" ng-repeat="(pKey, pVal) in privateChatUsers" ng-style="{ 'right': setPosition($index) }">
    <div title="Demo Bot" class="header">
        <p>{{ pKey }}</p><a title="close chat window" class="close_chatbox" href="" ng-click="closePrivateChat(pKey)">X</a>
        <a title="minimize chat window" class="minimize_chatbox" href="" ng-click="toggleChatWindow(pKey)"></a>
        <a title="maximize chat window" class="maximize_chatbox" href="#">‾</a>
    </div>
    <div class="chat_area_wrapper" ng-hide="chatWindow[pKey]">
        <div title="Demo Bot" class="chat_area">
            <p ng-repeat="pvtChat in privateChatUsers[pKey].pvtChats"><b>{{ pvtChat.nickName }}: </b> {{ pvtChat.msg }}</p>
        </div>
        <div class="chat_info">
            <p></p>
        </div>
        <div title="Type your message here" class="chat_message">
            <textarea ng-model="pvtMsg[$index]" ng-keypress="sendPvtMessage($event, pKey, $index)"></textarea>
        </div>
    </div>
</div>
